{% extends "layout.html" %} {% block main %}

<script>
  let posts = [];
  const cardLimit = 5;

  fetch("/api/allPosts")
    .then((response) => {
      return response.json();
    })
    .then((data) => {
      posts = data.posts;

      if (posts.length === 0) {
        // Se não houver posts, exiba uma mensagem
        const noPostsMessage = document.createElement("div");
        noPostsMessage.className = "alert alert-info text-center";
        noPostsMessage.textContent =
          "Ainda não há posts disponíveis. Fique atento para futuras atualizações!";

        document.getElementById("row").appendChild(noPostsMessage);
      } else {
        for (let i = 0; i < Math.min(posts.length, cardLimit); i++) {
          const post = posts[i];

          const cardLink = document.createElement("a");
          cardLink.href = `/post/${post.id}`;
          cardLink.className = "card-link";

          const card = document.createElement("div");
          card.className = "card m-2";
          card.style.width = "18rem";

          const cardBody = document.createElement("div");
          cardBody.className = "card-body bg-light";

          const titleCard = document.createElement("h5");
          titleCard.className = "card-title";
          titleCard.innerHTML = post.title;

          const subtitleCard = document.createElement("h6");
          subtitleCard.className = "card-subtitle mb-2 text-muted";
          subtitleCard.innerHTML = post.author;

          const contentCard = document.createElement("p");
          contentCard.className = "card-text";
          contentCard.innerHTML = post.content;

          cardBody.appendChild(titleCard);
          cardBody.appendChild(subtitleCard);
          cardBody.appendChild(contentCard);

          card.appendChild(cardBody);
          cardLink.appendChild(card);

          document.getElementById("row").appendChild(cardLink);
        }
      }
    })
    .catch((error) => {
      console.error("Erro ao buscar dados:", error);
    });
</script>

<div class="container mt-5">
  <div id="row" class="row justify-content-center"></div>
</div>

{% endblock %}
