<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog do NES</title>
    <style>
      body.dark-theme {
        background-color: #343a40;
        color: #ffffff;
      }
      .dark-theme .form-control {
        background-color: #495057;
        color: #ffffff;
      }
      .dark-theme .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
      }
      .dark-theme .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 100vh"
    >
      <!-- MAIN -->
      <main class="container">{% block main %}{% endblock %}</main>

      <!-- MESSAGES -->
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="mt-2 alert alert-danger">{{messages[-1]}}</div>
      {% endif %} {% endwith %}
    </div>
  </body>
</html>
